<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Arquitectura Web Cecilio EXAMPLES</title>

    <script type="text/javascript" src="scripts/angular.min.js">
    </script>


    <script type="text/javascript" src="controller/app.js">
    </script>
</head>

<body ng-controller="listaFacturas">
    <!--<ul data-ng-repeat="factura in listaFacturas">
        <li>
            <p>{{factura.id}}</p>
            <p>{{factura.concepto}}</p>
            <p>{{factura.importe}}</p>
        </li>
    </ul>
-->
    <div data-ng-switch="vista">
        <!--<div ng-show="mostrarFormulario">-->
        <div data-ng-switch-when="formulario">
            <form>
                <p>
                    <label>ID:</label>
                    <input type="text" data-ng-model="$parent.nuevaFactura.id">
                </p>
                <p>
                    <label>Concepto:</label>
                    <input type="text" data-ng-model="$parent.nuevaFactura.concepto">
                </p>
                <p>
                    <label>Importe:</label>
                    <input type="text" data-ng-model="$parent.nuevaFactura.importe">
                </p>

                <p>&nbsp;</p>
                <input type="button" data-ng-click="addFactura()" value="Aceptar">
            </form>
        </div>

        <p>&nbsp;</p>

       <!-- <div ng-show="mostrarLista">-->
        <div data-ng-switch-when="lista">
            <table>
               <thead>
                    <th>ID</th>
                    <th>Concepto</th>
                    <th>Importe</th>
                    <th>Importe con IVA</th>
                    <th></th>
               </thead>
                <tbody>
                    <tr data-ng-repeat="factura in listaFacturas">
                        <td>{{ factura.id }}</td>
                        <td>{{ factura.concepto }}</td>
                        <td>{{ factura.importe }}</td>
                        <td>{{ factura.calcularIVA() }}</td>
                        <td><input type="button" value="Borrar" data-ng-click="deleteFactura(factura)"></td>
                    </tr>
                </tbody>
            </table>

            <input type="button" data-ng-click="verFormulario()" value="Nueva Factura"/>
        </div>
    </div>
<!--

    <p>&nbsp;</p>
    <input type="button" value="Nueva Factura" data-ng-click="addFactura()">

</body>
</html>